## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config1 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ahipara,NZ,-35.1667,173.1667,63.88,74,35,11.52,scattered clouds
1,1,Port Elizabeth,ZA,-33.9180,25.5701,75.09,83,20,13.80,few clouds
2,2,Vaini,TO,-21.2000,-175.2000,73.56,100,40,1.14,fog
3,3,Broken Hill,AU,-31.9500,141.4333,73.11,64,83,4.61,broken clouds
4,4,Burgeo,CA,47.6167,-57.6152,25.47,67,88,17.72,overcast clouds

In [12]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ahipara,NZ,-35.1667,173.1667,63.88,74,35,11.52,scattered clouds
1,1,Port Elizabeth,ZA,-33.9180,25.5701,75.09,83,20,13.80,few clouds
2,2,Vaini,TO,-21.2000,-175.2000,73.56,100,40,1.14,fog
3,3,Broken Hill,AU,-31.9500,141.4333,73.11,64,83,4.61,broken clouds
5,5,Cidreira,BR,-30.1811,-50.2056,80.55,65,2,9.08,clear sky
6,6,San Cristobal,VE,7.7669,-72.2250,75.38,48,82,5.53,broken clouds
7,7,Ban Nahin,LA,18.2418,104.2122,76.69,53,0,3.44,clear sky
8,8,Butaritari,KI,3.0707,172.7902,80.22,83,100,11.12,light rain
9,9,Rikitea,PF,-23.1203,-134.9692,79.93,72,0,20.94,clear sky
10,10,Ihosy,MG,-22.4000,46.1167,71.74,91,48,4.94,moderate rain

In [14]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                507
City                   507
Country                503
Lat                    507
Lng                    507
Max Temp               507
Humidity               507
Cloudiness             507
Wind Speed             507
Current Description    507
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ahipara,NZ,63.88,scattered clouds,-35.1667,173.1667,
1,Port Elizabeth,ZA,75.09,few clouds,-33.9180,25.5701,
2,Vaini,TO,73.56,fog,-21.2000,-175.2000,
3,Broken Hill,AU,73.11,broken clouds,-31.9500,141.4333,
5,Cidreira,BR,80.55,clear sky,-30.1811,-50.2056,
6,San Cristobal,VE,75.38,broken clouds,7.7669,-72.2250,
7,Ban Nahin,LA,76.69,clear sky,18.2418,104.2122,
8,Butaritari,KI,80.22,light rain,3.0707,172.7902,
9,Rikitea,PF,79.93,clear sky,-23.1203,-134.9692,
10,Ihosy,MG,71.74,moderate rain,-22.4000,46.1167,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params["location"] = f"{lat},{lng}"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna()

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))